:root {
  --background-body: #f1f2f3;
  --background-color: #17171c;
  --button-color-operator: #4b5efc;
  --button-color-operator-hover: #1e2fc2;
  --button-color-normal: #2e2f38;
  --button-color-normal-hover: #464855;
  --button-color-clear: #dd1943;
  --button-color-clear-hover: #9b0e2c;
  --button-color-equal: #47b813;
  --button-color-equal-hover: #2f8109;
  --text-color: #ffffff;
  --sun-color: #2e2f38;
}

.theme {
  --background-body: #17171c;
  --background-color: #f1f2f3;
  --button-color-operator: #4b5efc;
  --button-color-operator-hover: #1e2fc2;
  --button-color-normal: #2e2f38;
  --button-color-normal-hover: #464855;
  --button-color-clear: #dd1943;
  --button-color-clear-hover: #9b0e2c;
  --button-color-equal: #47b813;
  --button-color-equal-hover: #2f8109;
  --text-color: #000000;
  --sun-color: #636574;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100vh;
  background-color: var(--background-body);
  font-family: "Quicksand", sans-serif;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}

#mode-icon {
  color: var(--sun-color);
  width: 53px;
  height: 52px;
  background-color: #83828257;
  border: none;
  font-size: 1.6rem;
  position: absolute;
  top: 0;

  &:hover {
    cursor: pointer;
  }
}

section {
  border-radius: 42px;
  padding: 2rem 0;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.output-div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 400px;
  height: 100px;
}
.all-buttons {
  height: 500px;
  width: 450px;
  padding: 1.5rem;
  align-items: center;
}
p {
  padding-inline: 1rem;
  font-size: 3rem;
  color: var(--text-color);
}

button {
  width: 80px;
  height: 80px;
  margin: 0.5rem;
  color: #ffffff;
  border: none;
  background-color: var(--button-color-normal);
  font-size: 1.8rem;
  border-radius: 35px;

  &:hover {
    background-color: var(--button-color-normal-hover);
  }
}

#modulus {
  background-color: var(--button-color-operator);
  &:hover {
    background-color: var(--button-color-operator-hover);
  }
}

#clear {
  background-color: var(--button-color-clear);
  &:hover {
    background-color: var(--button-color-clear-hover);
  }
}

#multiply,
#divide,
#minus,
#plus {
  background-color: var(--button-color-operator);
  font-size: 2rem;
  &:hover {
    background-color: var(--button-color-operator-hover);
  }
}

#equal {
  background-color: var(--button-color-equal);
  font-size: 1.8rem;
  width: 180px;
  &:hover {
    background-color: var(--button-color-equal-hover);
  }
}

/** Media Query */

@media (width <= 768px) {
  .output-div {
    width: 300px;
    height: 80px;
  }
  .all-buttons {
    height: 350px;
    width: 350px;
    padding: 2.2rem;
  }
  p {
    padding-inline: 0.8rem;
    font-size: 2rem;
  }
  button {
    width: 60px;
    height: 60px;
    margin: 0.2rem;
    font-size: 1.4rem;
  }
  #multiply,
  #divide,
  #minus,
  #plus {
    font-size: 1.4rem;
  }
  #equal {
    font-size: 1.4rem;
    width: 130px;
  }
}
